.gitignore
.ipynb_checkpoints
*/.ipynb_checkpoints
__pycache__
*/__pycache__
projetodevisualizacaodabasecrustaceasmnufrj.zip
comentarios_para_Asla.txt
bin/*
repteis/Compilacao\ Livros\ Repteis\ -\ 2\ a\ 10\ -\ 2020_04_28.xls
